EULA = true
default.page.size = 25
app.home = {{ playbook_dir }}/{{ cloudclient_home }}
persist.session = true
suppress.status.messages = true
trust.certs.on.first.use = true
auto.completion.enable = true
truststore.password.auto.create = true